{% extends "extends/base.html" %}
{% block title %}
    <title>FGA Big Data Using Python</title>
{% endblock title %}
{{ self.title() }}
    Home
{{ self.title() }}
<button onclick="window.location.href='/'" class="btn btn-outline btn-rounded btn-info">
    <i class="ti-arrow-left m-l-5"></i>
    <span>Back Home</span>
</button> Project 1

{{ self.title() }}
    Project 1

{% block content %}

<!--//templates/index.html-->
<!--<!doctype html>-->
<!--<html>-->
<!--<head>-->
<!--<title>Menampilkan Tabel User [Editable] - Dgn Python Flask SQLite + Jquery Ajax</title>-->
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />-->

<!--Ref: https://tutorial101.blogspot.com/2021/04/live-editable-table-using-python-flask.html -->
<!--Remodified by: Imam Cholissodin -->

<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>-->
<script type="text/javascript" src="{{ url_for('static', filename = 'js/mylib_tabel_editable/jquery.min.js') }}"></script>
<script type='text/javascript'>
$(document).ready(function(){

 // Show Input element
 $('.edit').click(function(){
  $('.txtedit').hide();
  $(this).next('.txtedit').show().focus();
  $(this).hide();
 });

 // Save data
 $(".txtedit").focusout(function(){

  // Get edit id, field name and value
  var id = this.id;
  var split_id = id.split("_");
  var field_name = split_id[0];
  var edit_id = split_id[1];
  var value = $(this).val();

  // Hide Input element
  $(this).hide();

  // Hide and Change Text of the container with input elmeent
  $(this).prev('.edit').show();
  $(this).prev('.edit').text(value);

  $.ajax({
   url: '/update_user',
   type: 'post',
   data: { field:field_name, value:value, id:edit_id },
   success:function(response){
      if(response == 1){
         console.log('Berhasil menyimpan');
      }else{
         console.log("Belum berhasil menyimpan.");
      }
   }
  });

 });

});
</script>
<!--</head>-->
<!--<body >-->
<div class="container" >
    <div class="row" style="padding:50px;">
        <p><h1>Menampilkan Tabel User [Editable] - Dgn Python Flask SQLite + Jquery Ajax</h1></p>
        <table width='100%' border='0'>
         <tr>
          <th width='10%'>ID</th>
          <th width='40%'>Mail sbg Username</th>
          <th width='40%'>Password</th>
          <th width='40%'>Name</th>
          <th width='40%'>Level</th>
         </tr>
         {% for row in userslist %}
         <tr>
          <td>{{row[0]}}</td>
          <td>
            <div class='edit' > {{row[1]}}</div>
            <input type='text' class='txtedit' value='{{row[1]}}' id='mail_{{row[0]}}' >
          </td>
          <td>
           <div class='edit' >{{row[2]}} </div>
           <input type='text' class='txtedit' value='{{row[2]}}' id='pwd_{{row[0]}}' >
          </td>
          <td>
           <div class='edit' >{{row[3]}} </div>
           <input type='text' class='txtedit' value='{{row[3]}}' id='name_{{row[0]}}' >
          </td>
          <td>
           <div class='edit' >{{row[4]}} </div>
           <input type='text' class='txtedit' value='{{row[4]}}' id='level_{{row[0]}}' >
          </td>
         </tr>
         {% endfor %}
        </table>
   </div>
</div>

<style>
.edit{
 width: 100%;
 height: 25px;
}
.editMode{
 border: 1px solid black;
}
table {
 border:3px solid lavender;
 border-radius:3px;
}
table tr:nth-child(1){
 background-color:#4285f4;
}
table tr:nth-child(1) th{
 color:white;
 padding:10px 0px;
 letter-spacing: 1px;
}
table td{
 padding:10px;
}
table tr:nth-child(even){
 background-color:lavender;
 color:black;
}
.txtedit{
 display: none;
 width: 99%;
 height: 30px;
}
</style>
<!--</body>-->
<!--</html>-->

{% endblock content %}