<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/indexstyle.css">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"> -->
    <title>Login - Register Form | Flask</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
</head>
<body>
    <div class="slide">
        <figure>
            <img src="../static/img/5_thank_to_heaven_josiah.jpg">
            <img src="../static/img/4_thank_to_heaven_josiah.jpg">
            <img src="../static/img/3_thank_to_heaven_josiah.jpg">
            <img src="../static/img/2_thank_to_heaven_josiah.jpg">
            <img src="../static/img/1_thank_to_heaven_josiah.jpg">
        </figure>
    </div> 
    <div class="mycontainer">
        <h1>Web App Jaringan Saraf Tiruan (JST)</h1>
        <div class="row" style="margin-top: 40px">
            <div>
                <ul>
                    <li class="col-sm-6"><a href="/login"><button > Login </button></a></li>
                    <li class="col-sm-6"><a href="/register" ><button>Register</button></a></li>
                </ul>
            </div>
        </div>
        <br>
        <h3>Semoga Sukses untuk Semuanya :D</h3>
    </div>


<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>